* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: coral;
  }
  .container {
    background-color: white;
    min-height: 70vh;
    min-width: 40vh;
    padding: 2rem;
    border-radius: 1rem;
  }
  form {
    margin: 2rem 0 1rem 0;
  }
  form,
  select,
  input,
  button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    padding-left: 0.5rem;
    height: 3rem;
  }
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .select-container,
  img {
    max-width: 2rem;
  }
  .select-container,
  select {
    max-width: 5rem;
  }
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  .message {
    margin: 2rem 0 2rem 0;
  }
  
  button {
    /* margin-bottom: 2rem; */
    height: 3rem;
    background-color: #af4d28;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  }
  



  





  